.card { 
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 40vw;
    align-items: center;
}



img {
    max-width: 50px;
} 

.cardContent{
    opacity: 0;
    background-color: rgba(0, 255, 255, 0.229);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: black
}

.cardContent:hover{
    background-color: rgba(0, 255, 255, 0.19);
    opacity: 1;
}

@media screen and (max-width: 400px){
    .card{
        width: 60vw;
    }
}