form {
    display: flex;
    flex-wrap: wrap;
    margin: 5vw;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
}

textarea {
    height: 25vh;
}

.textInput {
    max-height: 20px;
}

button {
    margin: 5px 0px;
}

@media screen and (max-width: 600px) {
    form {
        width: 50vw;
    }
}

@media screen and (max-width: 400px) {
    form {
        margin: auto;
        width: 80vw;
    }
}
